<app-navbar></app-navbar>
<div class="flex flex-col items-center">
  <div class="w-full flex justify-center px-4 md:w-1/2">
    <img
      src="assets/images/drawn-play-house.svg"
      alt="A hand drawn illustration of The Play House"
      class="h-[260px] w-auto sm:h-[400px] md:h-[680px] md:max-h-screen"
    />
  </div>

  <div
    class="text-center text-[17px]/[28px] sm:text-[20px]/[32px] md:text-[24px]/[40px] pt-[40px] md:pt-[100px] px-[20px] max-w-[600px] w-full md:w-1/2"
  >
    <p>
      Marlboroughs First and Only Play Cafe where your little ones can let their
      imaginations run wild.
    </p>
    <p class="py-[16px] md:py-[20px]">
      Play Sessions, SEN Sessions, Private Hire plus yummy snacks and drinks
      (including great coffee) available from our cafe.
    </p>
    <p class="italic">Classes, Group and Events coming soon.</p>
  </div>
</div>

<div class="-mb-[10px] relative w-full overflow-x-hidden m-0 p-0">
  <img
    src="assets/images/town-background.png"
    alt="Town Background"
    class="relative overflow-x-hidden w-[160vw] sm:w-[140vw] md:w-[120vw] max-w-none"
  />
</div>

<app-about-page></app-about-page>
<app-contact-page></app-contact-page>
