<app-navbar></app-navbar>

<div class="booking-page">
  <h1 class="page-title">Book a Session</h1>
  <div class="cards-container">
    <app-booking-card
      title="Play Session"
      description="Book a daily play session for you and your littles"
      price="From £3"
    ></app-booking-card>

    <app-booking-card
      title="SEN Session"
      description="Quieter play sessions for you and your littles"
      price="From £3"
    ></app-booking-card>

    <app-booking-card
      title="Coming Soon"
      description="Exciting Clubs, Classes and Groups coming soon"
      buttonText="Coming Soon"
    ></app-booking-card>
  </div>
</div>
